body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* h1{
    font-size: 50px;

}
 */
/* h2{
    font-size: 40px;
}*/
 p{
    color: gray;
} 
.name-color{
color: orange;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left:2% ;
}
.half-width img{
    width: 105%;
    
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height:500px;
    padding-bottom: 150px;

}
.link-color{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding:  10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 95px;
}
.Present-color{
    color:orange;
}
.single-experiance{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 60%;
    padding-right: 20px;
    background-color: white;
}
.experiance-area{
    background-image: url("images/exp-bg.png");
    background-repeat:no-repeat;
    background-position: left;
    background-size: 60px;
}
#mid-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;

}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}
.footer{
    text-align: center;
}